html {font-size: 16px;}

body{margin-top: 0px;}

/* HEADER */
header {width: 100%;
display: flex;
justify-content: center;
background-color: white;}

.header_body_container {display: flex;
  position: fixed;
  height: 64px;
  width: 970px;
background-color: white;}

.header_left {border: 1px solid black;
display: flex;
flex-grow: 1;
align-items: center;
margin-left: 24px;}

.header_left_logo_container {border: 3px green solid;
  height: 80%;
  width: 6%;
background-image: url("../assets/images/ic-logo.svg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;}

.header_right {border: 1px solid black;
display: flex;
align-items: center;
justify-content: flex-end;
flex-grow: 0.2;
}

.header_right span {margin-left: 16px;
border: 1px black solid;}

#header_sign_in {padding-right: 24px;}

/*HEADER GRAY BAR */
.header_gray_bar {width: 100%;
  border: 0.3px gray solid;
box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
position: fixed;
margin-top: 64px;}

/*CONTAINER FOR EVERYTHING UNDER THE HEADER */
.overall_body_container {display: flex;
  flex-direction: column;
align-items: center;
margin-top:66px;}

/*GRAY BACKGROUND */
.segment_one_overall_container {border: 1px solid black;
  display: flex;
  flex-direction: row;
width: 970px;
background-color: rgba(192,201,200,0.75);}

.main_photo_leftside_container {border: 1px solid red;
  width: 60%;
  padding: 24px 32px;}

.main_photo_leftside_container img {width: 100%;}

.segment_one_rightside_text_container {border: 1px solid green;
width: 40%;
display: flex;
flex-direction: column;
justify-content: center;}

.learn_something_text {border: 1px solid black;}
.learn_something_subtext {border: 1px solid black;
margin-top: 24px;
margin-bottom: 24px;}
.button_container {display: flex;
justify-content: center;
height: 25%;}
.button {width: 70%;
text-align: center;
background-color: #555959;
padding-top: 8px;
padding-bottom: 8px;
border-radius: 3px;
cursor: pointer;
height: 26%;}

.button:active {margin-top: 0.5px;}

/*SEGMENT TWO */
.segment_two_overall_container {border: 1px solid black;
display: flex;
flex-direction: row;
width: 970px;}

.segment_two_leftside_container {border: 1px solid black;
width: 60%;
padding: 32px 24px;
}


.segment_two_leftside_picture_container {border: 1px solid black;}
.segment_two_leftside_picture_container  img {width: 100%;}
.segment_two_leftside_text_container {border: 1px solid black;}
.practice_doesnt_hurt_text {border: 1px solid black;
text-align: center;
margin-top: 32px;
margin-bottom: 32px; }
.practice_doesnt_hurt_subtext {border: 1px solid black;}
.practice_doesnt_hurt_testimonial {border: 1px solid black;
margin-top: 6px;}

.segment_two_rightside_container {border: 5px solid red;
width: 40%;
height: auto;
padding-top: 32px;}
.segment_two_rightside_top_container {border: 1px solid black;
  display: flex;
  flex-direction: row;}
.segment_two_rightside_top_picture {border: 1px solid black;
width: 35%;
margin-left: 16px;
margin-right: 16px;}
.segment_two_rightside_top_picture img {width: 100%;}
.segment_two_rightside_top_text {border: 1px solid black;
width: 65%;}

.segment_two_rightside_middle_container {border: 1px solid black;
  display: flex;
  flex-direction: row;}
.segment_two_rightside_middle_picture {border: 1px solid black;
width: 35%;
height: auto;
margin-left: 16px;
margin-right: 16px;}
.segment_two_rightside_middle_picture img {width: 100%;
height: auto;}
.segment_two_rightside_middle_text {border: 1px solid black;
width: 65%;}

.segment_two_rightside_bottom_container {border: 1px solid black;
  display: flex;
  flex-direction: row;}
.segment_two_rightside_bottom_picture {border: 1px solid black;
width: 35%;
height: auto;
margin-left: 16px;
margin-right: 16px;}
.segment_two_rightside_bottom_picture img {width: 100%;
height: auto;}
.segment_two_rightside_bottom_text {border: 1px solid black;
width: 65%;}

/*SEGMENT THREE */
.segment_three_overall_container {border: 1px solid black;
display: flex;
flex-direction: column;
width: 970px;
background-color: rgba(192,201,200,0.75);}

.segment_three_top_horizontal_bar_container {border: 1px solid black;
padding-top: 32px;
padding-bottom: 32px;
text-align: center;}

.segment_three_middle_horizontal_bar_container {border: 1px solid black;
display: flex;
flex-direction: row;}
.course_one_container {border: 3px solid red;
width: 28%;
margin-left: 72px;
background-color: white;}
.course_one_image {border: 1px solid black;}
.course_one_image img {width: 100%;}
.course_one_text {border: 1px solid black;
margin-left: 16px;
margin-bottom: 24px;}
.course_two_container {border: 1px solid black;
width: 28%;
margin-left: 32px;
margin-right: 32px;
background-color: white;}
.course_two_image {border: 1px solid black;}
.course_two_image img {width: 100%;}
.course_two_text {border: 1px solid black;
margin-left: 16px;
padding-bottom: 24px;}
.course_three_container {border: 1px solid black;
width: 28%;
margin-right: 72px;
background-color: white;}
.course_three_image {border: 1px solid black;}
.course_three_image img {width: 100%;}
.course_three_text {border: 1px solid black;
margin-left: 16px;}

.segment_three_bottom_horizontal_bar_container {border: 1px solid black;
  display: flex;
  flex-direction: row;
margin-top:32px;
margin-bottom: 32px;}
.course_four_container {border: 1px solid black;
width: 28%;
margin-left: 72px;
background-color: white;}
.course_four_image {border: 1px solid black;}
.course_four_image img {width: 100%;}
.course_four_text {border: 1px solid black;
margin-left: 16px;
padding-bottom: 24px;}
.course_five_container {border: 1px solid black;
width: 28%;
margin-left: 32px;
margin-right: 32px;
background-color: white;}
.course_five_image {border: 1px solid black;}
.course_five_image img {width: 100%;}
.course_five_text {border: 1px solid black;
margin-left: 16px;
padding-bottom: 24px;}
.course_six_container {border: 1px solid black;
width: 28%;
margin-right: 72px;
background-color: white;}
.course_six_image {border: 1px solid black;}
.course_six_image img {width: 100%;}
.course_six_text {border: 1px solid black;
margin-left: 16px;
padding-bottom: 24px;}

/* SEGMENT MOBILE */

.segment_three_mobile_overall_container {border: 1px solid black;}

.segment_three_mobile_top_horizontal_bar_container {border: 1px solid black;}

.segment_three_mobile_courselist_container {border: 1px solid black;}
.segment_three_mobile_course_one_container {border: 1px solid black;}
.segment_three_mobile_course_two_container {border: 1px solid black;}
.segment_three_mobile_course_three_container {border: 1px solid black;}
.segment_three_mobile_course_four_container {border: 1px solid black;}
.segment_three_mobile_course_five_container {border: 1px solid black;}
.segment_three_mobile_course_six_container {border: 1px solid black;}

@media screen and (min-width: 480px) {.segment_three_mobile_overall_container {display: none;}}

/*SEGMENT THESIS */
.segment_thesis_container {border: 1px solid black;
width: 970px;
text-align: center;
padding-top: 32px;
padding-bottom: 32px;}

/*SEGMENT FOUR */
.segment_four_overall_container {display: flex;
flex-direction: row;
width: 970px;}

.segment_four_leftside_container {border: 1px solid black;
  width: 60%;
  padding-left: 24px;
  padding-right: 24px;}
.video_container {border: 1px solid green;
width: 100%;}
.video_container video {width: 100%; }
.segment_four_leftside_text {border: 1px solid black;
padding-bottom: 32px;}
.segment_four_leftside_text_1 {padding-top: 24px;
padding-bottom: 8px;}

.segment_four_rightside_container {border: 1px solid black;
width: 40%;}
.segment_four_rightside_top_container {border: 1px solid black;
display: flex;
flex-direction: row;}
.segment_four_rightside_top_image {border: 1px solid black;
width:35%;
margin: 16px 16px;}
.segment_four_rightside_top_image img {width: 100%;}
.segment_four_rightside_top_text {border: 1px solid black;
width: 65%;}

.segment_four_rightside_bottom_container {border: 1px solid black;
  display: flex;
  flex-direction: row;;}
.segment_four_rightside_bottom_image {border: 1px solid black;
width: 35%;
margin: 16px 16px}
.segment_four_rightside_bottom_image img {width: 100%;}
.segment_four_rightside_bottom_text {border: 1px solid black;
width: 65%;}

/* GREY LINE */

.gray_line_container {width: 970px;
display: flex;
justify-content: center;}

.gray_line {width: 100%;
box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
border: 0.3px gray dotted;}


/* FOOTER */
.footer_text_container {display: flex;
width: 970px;
padding-top: 16px;}
.footer_leftside_text {border: 1px solid black;
display: flex;
flex-grow: 1;
margin-left: 24px;}
.footer_rightside_text {border: 1px solid black;
margin-right: 24px;}


/* COMMON SPACING ACROSS THE PAGE */

.mini_text_spacing {margin-top: 6px;
margin-bottom: 6px;}

/*FONTS*/

.header_logo_font {font-family: "IM Fell DW Pica SC";
font-size: 1.75rem;
font-weight: 100;}

#header_colmar_font {font-weight: 700;}

.header_nav_font {font-family: "spectral";
font-size: 1.1rem;
font-weight: 600;
letter-spacing: -1px;}

.header_nav_font a:link {color: black;
text-decoration: none;}
.header_nav_font a:visited: {color: black;}
.header_nav_font a:hover{color: black;
font-weight: 650;
font-size: 1.1rem;}
.header_nav_font a:active{color: black;}

#first_headline_font {font-family: "junge";
font-weight: 600;
font-size: 2.5rem;}

#first_subheadline_font, .button {font-family: "spectral";
font-size: 1.15rem;
font-weight: 400;
letter-spacing: -1px;}

.button a {color: white;
text-decoration: none;}

.second_headline_font {font-size: 2rem;
font-family: "junge";
font-weight: 600;
letter-spacing: -0.85px;}

.third_headline_font {font-family: "spectral";
font-size: 1.35rem;
font-weight: 550;
letter-spacing: -1px;}

.mini_text_font {font-family: "arapey";
letter-spacing: 0.3px;
font-size: 1.0rem; }

#testimonial_font {font-family: "arapey";
font-weight: bold;}

.course_links a:link {color: blue;}
.course_links a:visited: {color: blue;}
.course_links a:hover{color: blue;
font-weight: 900;
font-size: 1.1rem;}
.course_links a:active{color: blue;}

.footer_font {font-family: "arapey";
letter-spacing: 0.3px;
font-size: 0.9rem; }

#terms_font {margin-right: 16px;}

/*font-family: 'Raleway', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Arapey', serif;
font-family: 'Taviraj', serif;
font-family: 'Judson', serif;
font-family: 'Spectral', serif;
font-family: 'Maitree', serif;
font-family: 'IM Fell English SC', serif;
font-family: 'Junge', serif;
font-family: 'Cormorant SC', serif;
font-family: 'IM Fell DW Pica SC', serif;
font-family: 'Suranna', serif;*/
